
@{
    ViewBag.Title = "Index";
}

<h2>扫描出库</h2>
<div style="width:360px;height:300px;overflow:hidden">
    <table>
        <tr>
            <td>出库编号</td>
            <td>拣货</td>
            <td>出库日期</td>
        </tr>
    </table>
</div>

