@{
    ViewBag.Title = "出库复核报告单";
    Layout = "~/Views/Shared/EmptyView.cshtml";
}
<script type="text/javascript">
    $(window).load(function () {
        var fhid = $("#ckfuhedan").val();
        document.getElementById("myReport").src = "../../reports/ReportZY.aspx?pid=CKFuheBaoGaoDan&out=" + fhid;
        $("#autoUpdate").show();
    });
</script>
<div id="autoUpdate" style="display:none; overflow-y: auto;background-color:white">
    <input type="hidden" id="ckfuhedan" value="@ViewBag.id" />
    <table style="height:100%;width:100%">
        <tr>

            <td></td>
        </tr>
        <tr><td class="center"><iframe id="myReport" style="width:1090px;height:800px;"></iframe></td></tr>
    </table>
</div>
