
@{
    ViewBag.Title = "Index";
}

<h2>仓储管理扫描作业</h2>
<div style="width:360px;height:300px;overflow:hidden">
    <ul>
        <li>入库</li>
        <li>出库</li>
        <li>移库</li>
        
    </ul>
</div>
