
@{
    ViewBag.Title = "Index";
}

<h2>仓储管理扫描作业</h2>
<div style="width:360px;height:300px;overflow:hidden">
    <ul>
        <li><a href="/wms_scanin/index">入库</a></li>
        <li><a href="/wms_scanout/index"></a>出库</li>
        <li><a href="/wms_scanhome/locmov"></a>移库</li>
        
    </ul>
</div>
