
@{
    ViewBag.Title = "Index";
}

<h2>扫描入库</h2>
<div style="width:360px;height:300px;overflow:hidden">
    <table>
        <tr>
            <td>入库编号</td>
            <td>收货</td>
            <td>上架</td>
        </tr>
    </table>
</div>

