@using CKWMS.App_Code
@using CKWMS.Models
@{
    ViewBag.Title = "货品上架";
    Layout = "~/Views/Shared/WinCEView.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#bt_bup").click(function () {
            $("#pl_kw").hide();
            $("#pl_ph").show();
        });
        $("#bt_sup").click(function () {
            $("#pl_kw").hide();
            $("#pl_xl").show();
        });
        $("#bt_kw").click(function () {
            $("#pl_kw").show();
            $("#pl_xl").hide();
            $("#pl_ph").hide();
        });
        $("#bt_ok").click(function () {
            $.post("/wms_scanin/uploadok", {
                rk: $("#rkid").val()
            }, function (data) {
                if (data == -1)
                    alert("所有货品完成上架后，才能结束入库上架！");
                if (data == -2)
                    alert("上架完成时出错，请稍后重试！");
            });
        });
        $("#bt_save").click(function () {
            if (eval($("#rkzt").val()) != 3) {
                alert("只有完成入库验收的货品才能上架！");
                return;
            }
            if ($("#kuwei").val() == "") {
                alert("必须先选择库位后才能上架！");
                return;
            }
            $.post("/wms_scanin/saveupload",
                {
                    rkd: $("#rkid").val(),
                    kw: $("#kuwei").val(),
                    pihao1: $("#pihao1").val(),
                    phnum1: $("#phnum1").val(),
                    pihao2: $("#pihao2").val(),
                    phnum2: $("#phnum2").val(),
                    pihao3: $("#pihao3").val(),
                    phnum3: $("#phnum3").val(),
                    xlm1: $("#xlm1").val(),
                    xlnum1: $("#xlnum1").val(),
                    xlm2: $("#xlm2").val(),
                    xlnum2: $("#xlnum2").val(),
                    xlm3: $("#xlm3").val(),
                    xlnum3: $("#xlnum3").val(),
                }, function (data) {
                    if (data == -1)
                        alert("空库位不能上架，请重新操作！");
                    if (data == -2)
                        alert("上架是出现错误，请重试！");
                    if (data == -3)
                        alert("库位不正确，扫描正确的库位后再操作！");
                    $("#kuwei").val("");
                    $("#pihao1").val("");
                    $("#phnum1").val("");
                    $("#pihao2").val("");
                    $("#phnum2").val("");
                    $("#pihao3").val("");
                    $("#phnum3").val("");
                    $("#xlm1").val("");
                    $("#xlnum1").val("");
                    $("#xlm2").val("");
                    $("#xlnum2").val("");
                    $("#xlm3").val("");
                    $("#xlnum3").val("");
                    $("#pl_kw").show();
                    $("#pl_xl").hide();
                    $("#pl_ph").hide();

                });
        });
    });
</script>
<div>
@*<h2>上架</h2>*@
    <div class="page-content">
        <input type="hidden" name="rkid" id="rkid" value="@ViewBag.rkd" />
        <input type="hidden" name="rkzt" id="rkzt" value="@ViewBag.rkzt" />
        <div class="page-header">
            <p>入库编号：@ViewBag.rkbh</p>
            <p>
                <button type="button" id="bt_ok" class="btn btn-default"><i class="icon-ok"></i>完成</button>
                <button type="button" class="btn btn-default" onclick="javascript:location.href='/wms_scanin/index'; "><i class="icon-hand-left"></i>返回</button>
                <button type="button" id="bt_save" class="btn btn-default"><i class="icon-save"></i>保存</button>
                <button type="button" id="bt_kw" class="btn btn-default"><i class="icon-location-arrow"></i>库位</button>
            </p>
        </div>
        <div class="container">
            <div id="pl_kw">
                <div class="form-group">
                    <label class="col-sm-4">库位</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="kuwei" id="kuwei" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <p id="bt_bup" class="btn btn-default"><icon class="icon-paper-clip"></icon>批号上架</p>
                    <p id="bt_sup" class="btn btn-default"><icon class="icon-signal"></icon>序列码上架</p>
                </div>
            </div>
            <div id="pl_ph" style="display:none;">
                <div class="form-group">
                    <label class="col-sm-4">批号-1</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="pihao1" id="pihao1" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">数量-1</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="phnum1" id="phnum1"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">批号-2</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="pihao2" id="pihao2" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">数量-2</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="phnum2" id="phnum2" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">批号-3</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="pihao3" id="pihao3" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">数量-3</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="phnum3" id="phnum3" />
                    </div>
                </div>
            </div>
            <div id="pl_xl" style="display:none;">
                <div class="form-group">
                    <label class="col-sm-4">序列-1</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="xlm1" id="xlm1" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">数量-1</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="xlnum1" id="xlnum1" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">序列-2</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="xlm2" id="xlm2" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">数量-2</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="xlnum2" id="xlnum2" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">序列-3</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="xlm3" id="xlm3" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">数量-3</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="xlnum3" id="xlnum3" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>