@{
    ViewBag.Title = "入库验收报告";
    Layout = "~/Views/Shared/EmptyView.cshtml";
}
<script type="text/javascript">
    $(window).load(function () {
        var zlgl_rkysid = $("#zlgl_rkysid").val();
        document.getElementById("myReport").src = "../../reports/ReportZY.aspx?pid=zlgl_RukuYanshouBaogao&zlgl_rkysid=" + zlgl_rkysid;
        $("#autoUpdate").show();
    });
</script>
<div id="autoUpdate" style="display:none; overflow-y: auto;background-color:white">
    <input type="hidden" id="zlgl_rkysid" value="@ViewBag.zlgl_rkysid" />
    <table style="height:100%;width:100%">
        <tr>

            <td></td>
        </tr>
        <tr><td class="center"><iframe id="myReport" style="width:1045px;height:800px;"></iframe></td></tr>
    </table>
</div>


