@{
    ViewBag.Title = "入库质量验收报告";
    Layout = "~/Views/Shared/EmptyView.cshtml";
}
<script type="text/javascript">
    $(window).load(function () {
        var rkysid = $("#rkysid").val();
        document.getElementById("myReport").src = "../../reports/ReportZY.aspx?pid=YanShouBaoGao&rkysid=" + rkysid;
        $("#autoUpdate").show();
    });
</script>
<div id="autoUpdate" style="display:none; overflow-y: auto;background-color:white">
    <input type="hidden" id="rkysid" value="@ViewBag.rkysid" />
    <table style="height:100%;width:100%">
        <tr>

            <td></td>
        </tr>
        <tr><td class="center"><iframe id="myReport" style="width:1200px;height:800px;"></iframe></td></tr>
    </table>
</div>
